<div class="chat">
  <input [(ngModel)]="inputValue" class="chat-input" type="text" />
  <input class="chat-button" type="button" value="SEND" (click)="send()"/>
  <div class="chat-content">
    <div class="chat-message" *ngFor="let message of messages">
      {{message}}
    </div>
  </div>
</div>
