.chat {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-input {
  width: 100%;
  height: 50px;
}

.chat-button {
  width: 100%;
  height: 25px;
}

.chat-content {
  border: 1px solid black;
  display: block;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-message {
  padding: 3px;
}
